* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: rgb(6, 22, 29);
    margin: 0;
    height: 100%;
}

header {
    background: rgba(255, 255, 255, 0.979);
    padding: 20px;
}

header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.89);
    text-align: center;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    color: white;
    font-size: 46px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}

.nameplate {
    background: rgba(161, 172, 13, 0.822);
    font-size: 28px;
    padding: 2px 10px;
}

#player-plate {
    position: absolute;
    top: 20px;
    left: -150px;
    border-radius: 2px;
    border: 1px solid white;
}

#computer-plate {
    position: absolute;
    top: 20px;
    right: -155px;
    border-radius: 2px;
    border: 1px solid white;
}

.result {
    font-size: 44px;
    color: white;
    margin: 46px 0px;
    font-weight: bolder;
}
.result > p {
    text-align: center;
}

.choices {
    text-align: center;
    margin: 60px 0px;
}

.choice {
    display: inline-block;
    margin: 0 47px;
    transition: all .17s ease;
}

#img-p {
    bottom: 15px;
    position: relative;
}

.choice:hover {
    cursor: pointer;
    transform: scale(1.6);
}
.choice:active {
    transform: scale(1.4);
}
#action-message {
    text-align: center;
    color: rgb(243, 92, 92);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.win-color {
    border: 3px solid rgb(41, 235, 15);
    box-shadow: 0 0 10px rgb(41, 235, 15);
}
.lose-color {
    border: 3px solid rgb(231, 15, 15);
    box-shadow: 0 0 10px rgb(231, 15, 15);
}
.tie-color {
    border: 3px solid rgb(230, 217, 41);
    box-shadow: 0 0 10px rgb(230, 217, 41);
}
#reset {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 32px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 12px;
    margin: 45px 85px;
    background-color: rgba(161, 172, 13, 0.822);
}
#reset:hover {
    cursor: pointer;
}